@import "~normalize.css/normalize.css";
@import "~susy/sass/susy";
@import "~breakpoint-sass";

// Small: 0 to 600px
$small: max-width 600px;
$from-small: min-width 601px;

// Medium: 601px to 800px
$to-medium: max-width 800px;
$medium: 601px 800px;
$from-medium: min-width 801px;

// Large: 801px to 1200px
$to-large: max-width 1200px;
$large: 801px 1200px;
$from-large: min-width 1201px;

body {
	text-align: center;
}

.page {
	max-width: 960px;
	text-align: center;
	margin: 0px auto;
	// border: solid 1px gray;
	padding: 10px;
}

header {
	border: solid 1px gray;
}

.content {
	ul {
		list-style: none;
		margin: 0px 0px 10px 0px;
		padding: 0px;
		li {
			border-bottom: solid 1px gray;
		}
		li:first-child::after {
			@include breakpoint($small) {
				content: ' - Small';
			}
			@include breakpoint($medium) {
				content: ' - Medium';
			}
			@include breakpoint($from-medium) {
				content: ' - Large';
			}
		}
		li:last-child {
			border-bottom: 0px;
		}
	}
}

.bar {
	background-color: #7fd3de;
}

/* The footer IS the basket */
footer {

	// Keep contrained - The same as .page - Pull contraining code into a new class?
	max-width: 960px;
	margin: 0px auto;

	padding: 10px;
	overflow: auto;

	section {
		// When `large`, put the sections onto one line - Width is set below in the first section
		@include breakpoint($from-medium) {
			float: left;
		}
	}
	section.passengerDetails {

		text-align: left;
		margin-bottom: 5px;

		// Once bigger than `medium`, the sections sit next to each other
		@include breakpoint($from-medium) {
			width: 50%;
			margin-right: 15%;
		}

		ul {
			list-style: none;
			margin: 0px 0px 10px 0px;
			padding: 0px;
		}
		ul:last-child {
			margin-bottom: 0px;
		}
		ul.prompt {
			//
		}
		ul.details {
			list-style: none;
			position: relative;
			overflow: auto;
			li {
				padding-right: 5px;
			}
			li:last-child {
				position: absolute;
				bottom: 0px;
				right: 0px;
				float: right;
				font-weight: bold;
				padding-right: 0px;
			}
		}
	}
	section.grandTotal {

		position: relative;

		// Removing the float will fill the space to the right of the first section
		@include breakpoint($from-medium) {
			float: none;
			overflow: auto;
		}
		ul {

			margin: 0px;
			padding: 0px;

			// For `large` and greater, move total to left of button
			@include breakpoint($from-medium) {
				float: left;
				position: absolute;
				bottom: 0;
				left: 0;
			}
			li {
				display: block;
				float: left;
				// Break and float right for bigger than `medium`
				@include breakpoint($from-medium) {
					float: right;
					clear: both;
				}
			}
			li:last-child {
				float: right;
				font-weight: bold;
				font-size: 1.4em;
			}
		}
		ul.zero {
			color: white;
		}
		@include breakpoint($from-medium) {
			button {
				@include breakpoint($from-medium) {
					float: right;
				}
				width: 60%;
			}
		}
	}
	// Button styles taken from mock-ups
	button {
		background-color: #ffdd0f;
		box-shadow: 0 2px 0 0 #d2b82b, 0 3px 2px 0 rgba(0, 0, 0, 0.2);
		color: #55565a;
		border: 0;
		border-radius: 4px;
		display: inline-block;
		font-size: 20px;
		text-decoration: none;
		text-transform: uppercase;
		width: 100%;
		height: 58px;
		margin-bottom: 4px; // Expose the box shadow if a parent element chops it off
	}
}
