@import "~normalize.css/normalize.css";
@import "~susy/sass/susy";

$border: solid 1px black;

$susy: (
	global-box-sizing: border-box, /* This should allow left/right borders to not impact layout */
	gutters: 0,
	columns: 1
);

body {
	background-color: #eee;
}

h1 {
	border-bottom: $border;
}

.page {
	@include span(3 of 4 inside content-box);
	background-color: #f99;
}

.sidebar {
	@include span(1 of 4 content-box);
	background-color: #99f;
	text-align: right;
}

/* Collapsing margins */

.margins {
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;
}

.margins:last-child {
	margin-bottom: 0px;
}

.margins.x {
	border: dotted 1px black;
}

.margins.y {
	border: solid 1px black;
}

.margins.z {
	border: dashed 1px black;
}

/* Push */

.push {
	border: solid 1px #ccc;
	overflow: hidden;
	padding: 10px 0px;
}

.push.x {
	border: dotted 1px black;
	@include push(1 of 7);
	@include span(1 of 7);
}

.push.y {
	border: solid 1px black;
	@include push(1 of 7);
	@include span(1 of 7);
}

.push.z {
	border: dashed 1px black;
	@include push(1 of 7);
	@include span(1 of 7);
}
