@import "~normalize.css/normalize.css";
@import "~susy/sass/susy";

$border: solid 1px black;

$susy: (
	global-box-sizing: border-box, /* This should allow left/right borders to not impact layout */
	gutters: 0,
	columns: 1
);

body {
	background-color: #eee;
}

h1 {
	border-bottom: $border;
}

.page {
	@include span(3 of 4 inside content-box);
	background-color: #f99;
}

.sidebar {
	@include span(1 of 4 content-box);
	background-color: #99f;
	text-align: right;
}
