@import "~susy/sass/susy";

.list-total {
	ul {
		border: solid 1px black;
		list-style: none;
		margin: 0px;
		padding: 0px;
		position: relative;
		overflow: hidden;
		li {
			border: dotted 1px black;
			float: left;
			clear: both;
		}
		li:last-child {
			border: dotted 1px black;
			float: right;
			position: absolute;
			bottom: 0px;
			right: 0px;
		}
	}
}
